.profileSwitcher{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.switcher-div{
    margin-left: 2em;
    width: 10vw;
    background-color: black;
    padding: 1em;
    color: white;
    text-align: center;
    border-radius: 25px;
}
.myLocker-box{
    padding: 2em;
}