main{
    min-height: 80vh;
    
   
}

h3{
    padding: 1rem 0;
}
.rating span{
    margin:0.2rem;
}
.product-box{
    background-color: white;
    min-height: 60vh;
    padding: 20px;
    border-radius: 15px;
}    
.myLocker-box{
    background-color: white;
    min-height: 59vh;
    border-radius: 20px;
}
.accountSettings-box{
    background-color: white;
    min-height: 80vh;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
}
.updateProfile-divButton{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.updateProfile-button{
    margin: auto;  
}

.searchbox-button
{
    margin-left: 10px;
    margin-top: 2px;
}
.searchBox-divs{
    float: left;

}
.searchBox-div{
    display: flex;
    justify-content: center;
    padding: 2em;
    
}
.div-clear{
    clear: both;
}
.searchBox-form{
    height: 54px;
    width: 30vw;

}

.home-test{
    color: white;
    text-align: center;
    margin-top: 1em;
}

